/* RoomManagement.module.css */
.active{
   color: white;
   background-color:#09223b !important; 
   border-radius: 10px;
}
.box,.box2{
    width: 100%; /* Add this */
    text-align: center;
    margin: 0 auto 75px;
    border-radius: 15px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 .main h1{
    width: 100%;
    text-align: center;
 }
 .btns {
   display: flex;
   align-items: center;
   justify-content: center;
    width: 100%; /* Add this */
    margin: 5px 5px 0px;
    padding: 5px 5px 0px;

    text-align: center;
 }
 
 /* Add spacing between buttons */
 .btns button,.btns2 button {
    min-width: 70px;
    height: 35px;
    margin: 0 20px;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid black;
    transition: 0.3s;
}
.btns button:hover,.btns2 button:hover{
 min-width:85px;
}
.btns2 {
   display: flex;
   align-items: center;
   justify-content: center;
    text-align: center;
 }
.box2{
   justify-content: flex-start;
   padding: 30px;
   background-color: white;
   margin: 0px;
   min-height: 300px;
}
.box2  input{
   border-radius: 0px !important;
   padding: 10px;
   height: 40px;
   margin: 20px;
   border: none;
   border-bottom: 4px solid;
   width: 30%;
}
.submit {
   margin-top:40px;
  align-items: center;
  background-color: #09223b;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.submit:hover,
.submit:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.submit:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.submit:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}
.box2 select{
   padding: 10px;
   height: 40px;
   margin: 20px;
   width: 30%;
   background-color: transparent;
}
.box2 section{
   margin-top: 10px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.box2 section div{
   margin: 0 40px;
   position: relative;
   left: -10px;
   display: flex;
   flex-direction: column;
   align-items: center;

}
.box2 section div label,.box2 section div input,.box2 section div select{
   width: 130px;
   font-size: 0.85rem;
   margin: 0;
}
.hidden{
   display: none !important;
   opacity: 0;
}
.error{
   opacity: 1;
   display: block !important;
   color: red;
   animation: 1s ;
}